__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3
.env
.venv/
venv/
staticfiles/*
!staticfiles/.gitkeep
media/*
!media/.gitkeep
!media/products/
!media/products/.gitkeep
!media/products/thumbnails/
!media/products/thumbnails/.gitkeep
!media/receipts/
!media/receipts/.gitkeep
!media/invoices/
!media/invoices/.gitkeep
!media/avatars/
!media/avatars/.gitkeep
